---
import { Image } from 'astro:assets';
import DashboardDeGestão from "https://xax-ale.github.io/portifolio-de-projetos/src/Imagens/Dashboard de gestão.png";
import DashboardDax from "https://xax-ale.github.io/portifolio-de-projetos/src/Imagens/Dashboard com dax.png";
import DashboardPY from "https://xax-ale.github.io/portifolio-de-projetos/src/Imagens/Dashboard com python.png";
---
<div class="card mb-3 "></div>
<div class="row g-0 p-5 shadow border-dark ">
  <div class="col-md-4">
    <Image class="img-fluid rounded-start" src={DashboardDax} alt="Dashbord com dax de alê henrique" />
  </div>
  <div  id="planilhadegestao" class="col-md-8">
    <div class="card-body ps-3">
      <h5 class="card-title pt-2 pb-1 texto texto-55">Dashboard com DAX</h5>
      <p class="card-text">
        Desenvolvi um dashboard de gestão avançado que utiliza DAX (Data Analysis Expressions) para validar dados e criar relações entre múltiplas planilhas ...
      </p>
      <p class="d-inline-flex gap-1">
        <a class="btn btn-secondary  texto texto-56" data-bs-toggle="collapse" href="#LerMais4" role="button" aria-expanded="false" aria-controls="collapseExample">
          Ler mais
        </a>
      <p class="card-text  texto texto-57"><small class="text-body-secondary">Projeto com Power BI, Power Querry e Dax</small></p>
    </div>
  </div>
  </div>
</div>
</div>
<div class="collapse w-100" id="LerMais4">
<h5 class="card card-body py-2 fs-5 shadow-none border-0 text-secondary-emphasis text-wrap text-break">
<p class="fs-5 texto texto-58"><small>Este sistema centraliza todos os dados em uma única planilha, sem necessidade de edições manuais, realizando automaticamente todos os parâmetros e relações.</small></p>

<h3 class="mt-4 texto texto-59">Características :</h3>
<ul class="list">
    <li class="mb-2 fs-5 texto texto-60">
      <small>
        <strong>Validação Automática de Dados:</strong>Utilizando DAX, o dashboard valida os dados de forma automática, garantindo a integridade e precisão das informações.
      </small>
    </li>
    <li class="mb-2 fs-5 texto texto-61">
      <small>
        <strong>Relações Entre Planilhas:</strong>O sistema cria e mantém relações entre diversas planilhas, integrando os dados de forma coesa e facilitando a análise.
      </small>
    </li>
    <li class="mb-2 fs-5 texto texto-62">
      <small>
        <strong>Centralização de Dados:</strong> Todos os dados são centralizados em uma única planilha, eliminando a necessidade de edições manuais e simplificando a gestão.
      </small>
    </li>
    <li class="mb-2 fs-5 texto texto-63">
      <small>
      <strong>Automatização Completa:</strong>Os parâmetros e relações são definidos automaticamente pelo dashboard, reduzindo a carga de trabalho e minimizando erros.
    </small>
    </li>
    <li class="mb-2 fs-5 texto texto-64">
        <small>
        <strong>Eficiência e Precisão:</strong>A automatização e validação contínua dos dados garantem que as informações estejam sempre corretas e atualizadas.
      </small>
      </li>
</ul>

<p class="fs-5 texto texto-65"><small>Este dashboard é ideal para empresas que buscam uma solução eficiente e automatizada para a gestão de dados, proporcionando uma visão integrada e precisa das informações, sem a necessidade de intervenções manuais.</small></p>


<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button collapsed z-0 texto texto-66" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse3" aria-expanded="false" aria-controls="flush-collapse3">
          Link do dashboard
        </button>
      </h2>
      <div id="flush-collapse3" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <a type="button" target="_blank" href="https://app.powerbi.com/view?r=eyJrIjoiYzA3OWYwMjEtMjJkNy00ZDIxLWI1NTgtZDM2ZjU5MTFjNjdhIiwidCI6ImI3MGQ5OWMzLTY1ODAtNGUxNy1iYWNiLWYxYjU1ODdjZGU4NSJ9" class="btn btn-secondary texto texto-67">Link do Power BI</a>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed z-0 texto texto-68" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseT3" aria-expanded="false" aria-controls="flush-collapseT3">
          Dashboard
        </button>
      </h2>
      <div id="flush-collapseT3" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <iframe class="w-100" height="500" title="Dashboard de gestão de vendas" src="https://app.powerbi.com/view?r=eyJrIjoiYzA3OWYwMjEtMjJkNy00ZDIxLWI1NTgtZDM2ZjU5MTFjNjdhIiwidCI6ImI3MGQ5OWMzLTY1ODAtNGUxNy1iYWNiLWYxYjU1ODdjZGU4NSJ9" frameborder="0" allowFullScreen="true"></iframe>
        </div>
      </div>
    </div>
  </div>
  <a class="btn btn-secondary w-100 mt-5 texto texto-69" data-bs-toggle="collapse" href="#LerMais4" role="button" aria-expanded="false" aria-controls="collapseExample">
    Recolher
  </a>
  </h5>
  </div>
  </div>
  <div class="card mb-3 "></div>
  <div class="row g-0 p-5 shadow border-dark ">
    <div class="col-md-4">
      <Image class="img-fluid rounded-start" src={DashboardDeGestão} alt="Dashboard de gestão de alê henrique" />
    </div>
    <div  id="planilhadegestao" class="col-md-8">
      <div class="card-body ps-3">
        <h5 class="card-title pt-2 pb-1 texto texto-39">Dashboard de Gestão</h5>
        <p class="card-text texto texto-40">
          Desenvolvi um dashboard de gestão abrangente que integra 39 planilhas em formato CSV, transformando esses dados em gráficos interativos para monitorar lucros e despesas de maneira eficiente ...
        </p>
        <p class="d-inline-flex gap-1">
          <a class="btn btn-secondary texto texto-41" data-bs-toggle="collapse" href="#LerMais5" role="button" aria-expanded="false" aria-controls="collapseExample">
            Ler mais
          </a>
        <p class="card-text"><small class="text-body-secondaryc  texto texto-42">Projeto com Power BI e Power Querry</small></p>
      </div>
    </div>
    </div>
  </div>
  </div>
  <div class="collapse w-100" id="LerMais5">
  <h5 class="card card-body py-2 fs-5 shadow-none border-0 text-secondary-emphasis text-wrap text-break">
  <p class="fs-5  texto texto-43"><small>Utilizando Power BI e Power Query, esse sistema oferece uma visão detalhada e dinâmica das finanças da empresa.</small></p>
  
  <h3 class="mt-4  texto texto-44">Características :</h3>
  <ul class="list">
      <li class="mb-2 fs-5 texto texto-45">
        <small>
          <strong>Transformação de Dados Automatizada:</strong>Os dados das 39 planilhas CSV são automaticamente transformados e integrados no Power BI, facilitando a análise e visualização das informações.
        </small>
      </li>
      <li class="mb-2 fs-5 texto texto-46">
        <small>
          <strong>Gráficos Interativos:</strong> O dashboard apresenta gráficos dinâmicos que permitem uma análise detalhada e intuitiva dos lucros e despesas, ajudando na tomada de decisões estratégicas.
        </small>
      </li>
      <li class="mb-2 fs-5 texto texto-47">
        <small>
          <strong>Integração com Power Query:</strong>  Utilizando Power Query, o sistema processa e limpa os dados, garantindo que as informações apresentadas sejam precisas e atualizadas.
        </small>
      </li>
      <li class="mb-2 fs-5 texto texto-48">
        <small>
        <strong>Visão Global e Detalhada:</strong>Oferece tanto uma visão geral quanto detalhada das finanças da empresa, permitindo que você acompanhe tendências e identifique áreas de melhoria.
      </small>
      </li>
      <li class="mb-2 fs-5 texto texto-49">
          <small>
          <strong>Adaptabilidade:</strong>O sistema é flexível e pode ser adaptado para atender às necessidades específicas de qualquer empresa, independentemente do volume ou complexidade das operações.
        </small>
        </li>
  </ul>
  
  <p class="fs-5 texto texto-50"><small>Este dashboard é ideal para empresas que buscam otimizar a gestão financeira, melhorar a comunicação entre setores e garantir a precisão dos dados, proporcionando uma solução poderosa e eficiente para a análise de lucros e despesas.</small></p>
  
  
  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed z-0 texto texto-51" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse4" aria-expanded="false" aria-controls="flush-collapse4">
          Link do dashboard
        </button>
      </h2>
      <div id="flush-collapse4" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <a type="button" target="_blank" href="https://app.powerbi.com/view?r=eyJrIjoiMDdlYWUwNTgtMGM1OC00NjAwLWIzMDMtNzVmZmFlOWJhNzI4IiwidCI6ImI3MGQ5OWMzLTY1ODAtNGUxNy1iYWNiLWYxYjU1ODdjZGU4NSJ9" class="btn btn-secondary texto texto-52">Link do Power BI</a>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed z-0 texto texto-53" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseT4" aria-expanded="false" aria-controls="flush-collapseT4">
          Dashboard
        </button>
      </h2>
      <div id="flush-collapseT4" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <iframe class="w-100" height="500" title="App Gestão" src="https://app.powerbi.com/view?r=eyJrIjoiMDdlYWUwNTgtMGM1OC00NjAwLWIzMDMtNzVmZmFlOWJhNzI4IiwidCI6ImI3MGQ5OWMzLTY1ODAtNGUxNy1iYWNiLWYxYjU1ODdjZGU4NSJ9" frameborder="0" allowFullScreen="true"></iframe>
        </div>
      </div>
    </div>
  </div>
  <a class="btn btn-secondary w-100 mt-5  texto texto-54" data-bs-toggle="collapse" href="#LerMais5" role="button" aria-expanded="false" aria-controls="collapseExample">
    Recolher
  </a>
  </h5>
  </div>
  </div>
  <div class="card mb-3 "></div>
  <div class="row g-0 p-5 shadow border-dark ">
    <div class="col-md-4">
      <Image class="img-fluid rounded-start" src={DashboardPY} alt="Dashbord com python de alê Henrique" />
    </div>
    <div  id="planilhadegestao" class="col-md-8">
      <div class="card-body ps-3">
        <h5 class="card-title pt-2 pb-1 texto texto-70">Dashboard com Python, Pandas e Streamlit</h5>
        <p class="card-text texto texto-71">
          Desenvolvi um dashboard de gestão avançado utilizando Python, Pandas e Streamlit, que centraliza e processa dados automaticamente, oferecendo uma visualização dinâmica e interativa ...
        </p>
        <p class="d-inline-flex gap-1">
          <a class="btn btn-secondary texto texto-72" data-bs-toggle="collapse" href="#LerMais6" role="button" aria-expanded="false" aria-controls="collapseExample">
            Ler mais
          </a>
        <p class="card-text"><small class="text-body-secondary texto texto-73">Projeto com Python, Pandas e Streamlit</small></p>
      </div>
    </div>
    </div>
  </div>
  </div>
  <div class="collapse w-100" id="LerMais6">
  <h5 class="card card-body py-2 fs-5 shadow-none border-0 text-secondary-emphasis text-wrap text-break">
      <h3 class="mt-4 texto texto-74">Dashboard de Gestão: Tradicional vs. Python</h3>
  <p class="fs-5 texto texto-75"><small>Tradicionalmente, a criação de dashboards envolve processos manuais demorados, desde a importação de dados até a geração de gráficos e relatórios. Isso pode exigir habilidades específicas em várias ferramentas e um tempo considerável de configuração e manutenção. Por outro lado, um dashboard construído com Python, utilizando bibliotecas como Pandas e Streamlit, pode ser desenvolvido de forma rápida e eficiente, automatizando grande parte do trabalho e oferecendo flexibilidade e personalização inigualáveis.</small></p>

  <h3 class="mt-4 texto texto-76">Características :</h3>
  <ul class="list">
      <li class="mb-2 fs-5 texto texto-77">
        <small>
          <strong>Processamento de Dados com Pandas:</strong>Utilizando Pandas, os dados são processados e manipulados de forma eficiente, garantindo a limpeza e organização das informações.
        </small>
      </li>
      <li class="mb-2 fs-5 texto texto-78">
        <small>
          <strong>Visualização Interativa com Streamlit:</strong> O Streamlit permite a criação de dashboards interativos e dinâmicos, que facilitam a análise de dados em tempo real.
        </small>
      </li>
      <li class="mb-2 fs-5 texto texto-79">
        <small>
          <strong>Automatização Completa:</strong> O sistema automatiza a importação, processamento e visualização dos dados, eliminando a necessidade de intervenções manuais.
        </small>
      </li>
      <li class="mb-2 fs-5 texto texto-80">
        <small>
        <strong>Rapidez e Eficiência:</strong>A utilização de Python e suas bibliotecas permite a criação rápida de dashboards, reduzindo o tempo de desenvolvimento e aumentando a produtividade.
      </small>
      </li>
      <li class="mb-2 fs-5 texto texto-81">
          <small>
          <strong>Flexibilidade e Personalização:</strong> A solução pode ser facilmente adaptada para atender às necessidades específicas de qualquer empresa, independentemente do volume ou complexidade dos dados.
        </small>
        </li>
  </ul>

  <p class="fs-5 texto texto-82"><small>Este dashboard é ideal para empresas que buscam uma solução moderna e eficiente para a gestão de dados, oferecendo uma visão integrada e precisa das informações, com a flexibilidade e rapidez proporcionadas pelo uso de Python, Pandas e Streamlit.</small></p>


  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed z-0 texto texto-83" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse5" aria-expanded="false" aria-controls="flush-collapse5">
          Link do streamlit
        </button>
      </h2>
      <div id="flush-collapse5" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <a type="button" target="_blank" href="https://dashboardapp-t4jsrswlplh5mzqm9lbd7f.streamlit.app/" class="btn btn-secondary texto texto-84">Link do streamlit</a>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed z-0 texto texto-85" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseT5" aria-expanded="false" aria-controls="flush-collapseT5">
          Imagem do dashboard
        </button>
      </h2>
      <div id="flush-collapseT5" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
        <Image class="img-fluid my-4 w-100" src={DashboardPY} alt="Dashboard com python de alê henrique" style="transition: transform 0.3s; cursor:crosshair;" onclick="var rect = this.getBoundingClientRect(); var x = event.clientX - rect.left; var y = event.clientY - rect.top; if (this.style.transform === 'scale(2)') { this.style.transform = 'scale(1)'; this.style.transformOrigin = 'center center'; } else { this.style.transform = 'scale(2)'; this.style.transformOrigin = x + 'px ' + y + 'px'; }" onwheel="var rect = this.getBoundingClientRect(); var x = event.clientX - rect.left; var y = event.clientY - rect.top; if (event.deltaY < 0) { this.style.transform = 'scale(2)'; this.style.transformOrigin = x + 'px ' + y + 'px'; } else { this.style.transform = 'scale(1)'; this.style.transformOrigin = 'center center'; }" />
        </div>
      </div>
    </div>
  </div>
  <a class="btn btn-secondary w-100 mt-5 texto texto-86" data-bs-toggle="collapse" href="#LerMais6" role="button" aria-expanded="false" aria-controls="collapseExample">
    Recolher
  </a>
  </h5>
  </div>
  </div>
