---
---
<div class="textos z-2 display-block h-100">
  <h3 class="mt-5 mb-3 texto texto-127">Sobre Mim</h3>
  <p class="fs-5 texto texto-128">
    <small>
      Sou um jovem de 18 anos, atraído pelo mundo da tecnologia e em busca de me tornar um cientista de dados. Minha jornada começou quando um professor me apresentou ao desenvolvimento, e desde então, estou explorando esse vasto campo.
    </small>
  </p>
  <p class="fs-5 texto texto-129">
    <small>
      Gosto de aprender por conta própria e estou sempre em busca de novas tecnologias e métodos. Atualmente, estou focado em desenvolver minhas habilidades em análise de dados e programação. Tenho experiência com HTML, CSS, JavaScript e Php, assim dominando as bases para usar qualquer framework ou biblioteca e estou me aprofundando em técnicas de análise de dados para transformar informações em insights valiosos.
    </small>
    </p>
  <p class="fs-5 mb-5 texto texto-130">
    <small>
      Minha abordagem é prática e voltada para o usuário, criando interfaces que são não apenas funcionais, mas também agradáveis de usar. Estou à procura de oportunidades para aplicar o que aprendi em projetos desafiadores e inovadores.
    </small>
  </p>
  <p class="fs-5 mb-5 texto texto-131">
    <small>
      Acredito que com dedicação e esforço, posso contribuir significativamente no campo, ajudando a tomar decisões mais informadas e eficientes. Estou animado para seguir esse caminho e ver onde ele me levará.
    </small>
  </p>
</div>
