---
import { Image } from 'astro:assets';
import DashboardDeGestão from "../Imagens/Dashboard de gestão.png";
import DashboardEPlanilhaDeGestão from "../Imagens/Dashboard e planilha de Gestão.png";
import DashboardPY from "../Imagens/Dashboard com python.png";
import DashboardDax from "../Imagens/Dashboard com dax.png";
import Portifólio from "../Imagens/portifólio.png";
---
<div class="textos">
  <h3 class="mt-2 mb-3 texto texto-87">Seja Bem vindo ao meu portifólio de projetos</h3>
  <p class="fs-5 texto texto-88">
    <small>
      Estou animado para compartilhar com você os projetos que desenvolvi ao longo do tempo. Este portfólio é uma coleção dos meus trabalhos, onde cada projeto é uma expressão do meu entusiasmo por tecnologia e inovação.
    </small>
  </p>
  <p class="fs-5 texto texto-89">
    <small>
      Aqui, você encontrará desde soluções complexas de gestão e automação, até dashboards interativos que facilitam a visualização e análise de dados. Cada projeto foi pensado para resolver problemas reais, trazendo eficiência e praticidade para diversas áreas.
    </small>
    </p>
  <p class="fs-5 mb-5 texto texto-90">
    <small>
      Acredito que a melhor maneira de entender minhas habilidades e meu estilo de trabalho é explorando os projetos que preparei. Espero que eles não apenas demonstrem minhas capacidades, mas também inspirem novas ideias e colaborações.
    </small>
  </p>
</div>
<section class="card-de-projetos">
  <div class="card mb-3 "></div>
<div class="row g-0 p-5 shadow border-dark ">
  <div class="col-md-4">
    <Image class="img-fluid rounded-start" src={DashboardDax} alt="Dashbord com dax de alê henrique" />
  </div>
  <div  id="planilhadegestao" class="col-md-8">
    <div class="card-body ps-3">
      <h5 class="card-title pt-2 pb-1 texto texto-55">Dashboard com DAX</h5>
      <p class="card-text">
        Desenvolvi um dashboard de gestão avançado que utiliza DAX (Data Analysis Expressions) para validar dados e criar relações entre múltiplas planilhas ...
      </p>
      <p class="d-inline-flex gap-1">
        <a class="btn btn-secondary  texto texto-56" data-bs-toggle="collapse" href="#LerMais7" role="button" aria-expanded="false" aria-controls="collapseExample">
          Ler mais
        </a>
      <p class="card-text  texto texto-57"><small class="text-body-secondary">Projeto com Power BI, Power Querry e Dax</small></p>
    </div>
  </div>
  </div>
</div>
</div>
<div class="collapse w-100" id="LerMais7">
<h5 class="card card-body py-2 fs-5 shadow-none border-0 text-secondary-emphasis text-wrap text-break">
<p class="fs-5 texto texto-58"><small>Este sistema centraliza todos os dados em uma única planilha, sem necessidade de edições manuais, realizando automaticamente todos os parâmetros e relações.</small></p>

<h3 class="mt-4 texto texto-59">Características :</h3>
<ul class="list">
    <li class="mb-2 fs-5 texto texto-60">
      <small>
        <strong>Validação Automática de Dados:</strong>Utilizando DAX, o dashboard valida os dados de forma automática, garantindo a integridade e precisão das informações.
      </small>
    </li>
    <li class="mb-2 fs-5 texto texto-61">
      <small>
        <strong>Relações Entre Planilhas:</strong>O sistema cria e mantém relações entre diversas planilhas, integrando os dados de forma coesa e facilitando a análise.
      </small>
    </li>
    <li class="mb-2 fs-5 texto texto-62">
      <small>
        <strong>Centralização de Dados:</strong> Todos os dados são centralizados em uma única planilha, eliminando a necessidade de edições manuais e simplificando a gestão.
      </small>
    </li>
    <li class="mb-2 fs-5 texto texto-63">
      <small>
      <strong>Automatização Completa:</strong>Os parâmetros e relações são definidos automaticamente pelo dashboard, reduzindo a carga de trabalho e minimizando erros.
    </small>
    </li>
    <li class="mb-2 fs-5 texto texto-64">
        <small>
        <strong>Eficiência e Precisão:</strong>A automatização e validação contínua dos dados garantem que as informações estejam sempre corretas e atualizadas.
      </small>
      </li>
</ul>

<p class="fs-5 texto texto-65"><small>Este dashboard é ideal para empresas que buscam uma solução eficiente e automatizada para a gestão de dados, proporcionando uma visão integrada e precisa das informações, sem a necessidade de intervenções manuais.</small></p>


<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button collapsed z-0 texto texto-66" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse6" aria-expanded="false" aria-controls="flush-collapse6">
          Link do dashboard
        </button>
      </h2>
      <div id="flush-collapse6" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <a type="button" target="_blank" href="https://app.powerbi.com/view?r=eyJrIjoiYzA3OWYwMjEtMjJkNy00ZDIxLWI1NTgtZDM2ZjU5MTFjNjdhIiwidCI6ImI3MGQ5OWMzLTY1ODAtNGUxNy1iYWNiLWYxYjU1ODdjZGU4NSJ9" class="btn btn-secondary texto texto-67">Link do Power BI</a>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed z-0 texto texto-68" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseT6" aria-expanded="false" aria-controls="flush-collapseT6">
          Dashboard
        </button>
      </h2>
      <div id="flush-collapseT6" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <iframe class="w-100" height="500" title="Dashboard de gestão de vendas" src="https://app.powerbi.com/view?r=eyJrIjoiYzA3OWYwMjEtMjJkNy00ZDIxLWI1NTgtZDM2ZjU5MTFjNjdhIiwidCI6ImI3MGQ5OWMzLTY1ODAtNGUxNy1iYWNiLWYxYjU1ODdjZGU4NSJ9" frameborder="0" allowFullScreen="true"></iframe>
        </div>
      </div>
    </div>
  </div>
  <a class="btn btn-secondary w-100 mt-5 texto texto-69" data-bs-toggle="collapse" href="#LerMais7" role="button" aria-expanded="false" aria-controls="collapseExample">
    Recolher
  </a>
  </h5>
  </div>
  </div>
  <div class="card mb-3 "></div>
<div class="row g-0 p-5 shadow border-dark ">
  <div class="col-md-4">
    <Image class="img-fluid rounded-start" src={DashboardEPlanilhaDeGestão} alt="A bird sitting on a nest of eggs." />
  </div>
  <div  id="planilhadegestao" class="col-md-8">
    <div class="card-body ps-3">
      <h5 class="card-title pt-2 pb-1  texto texto-91">Planilha e Dashboard de Gestão</h5>
      <p class="card-text  texto texto-92">
        Neste projeto, desenvolvi uma solução de gestão completa para uma empresa com três filiais e uma matriz ...
      </p>
      <p class="d-inline-flex gap-1 texto texto-93">
        <a class="btn btn-secondary  texto texto-94" data-bs-toggle="collapse" href="#LerMais8" role="button" aria-expanded="false" aria-controls="collapseExample">
          Ler mais
        </a>
      <p class="card-text"><small class="text-body-secondary texto texto-95">Projeto com Google AppScript, Google Planilhas, Power BI e Power Querry</small></p>
    </div>
  </div>
  </div>
</div>
</div>
<div class="collapse w-100" id="LerMais8">
<h5 class="card card-body py-2 fs-5 shadow-none border-0 text-secondary-emphasis text-wrap text-break">
<p class="fs-5  texto texto-96"><small>Utilizando App Script, criei 39 planilhas interligadas que facilitam a comunicação e integração de dados entre diferentes áreas da empresa.</small></p>

<h3 class="mt-4  texto texto-97">Como foi feito:</h3>
<ul class="list">
    <li class="mb-2 fs-5  texto texto-98">
      <small>
        <strong>Criação das Planilhas com App Script:</strong>Desenvolvi 39 planilhas no Google Sheets, cada uma focada em diferentes aspectos da gestão, incluindo produtos, funcionários, vagas abertas e inventário. As planilhas são interligadas, permitindo que os dados se comuniquem entre si automaticamente.
      </small>
    </li>
    <li class="mb-2 fs-5  texto texto-99">
      <small>
        <strong>Implementação de Relações e Funções:</strong> Utilizei funções avançadas e validação de dados para garantir a consistência e a troca precisa de informações entre as planilhas. Isso envolve cálculos automáticos e atualizações em tempo real entre a matriz e as filiais.
      </small>
    </li>
    <li class="mb-2 fs-5  texto texto-100">
      <small>
      <strong>Limpeza e Preparação dos Dados com Power Query:</strong>Após configurar as planilhas, usei Power Query para extrair e limpar os dados, focando apenas nas informações necessárias para a análise de desempenho. Esse processo garantiu que os dados fossem organizados e prontos para uso no dashboard.
    </small>
    </li>
    <li class="mb-2 fs-5 texto texto-101">
        <small>
        <strong>Desenvolvimento do Dashboard:</strong> Criei um dashboard interativo que utiliza os dados preparados para fornecer visualizações claras e dinâmicas dos lucros e despesas da empresa. O dashboard é alimentado diretamente pelas planilhas, garantindo que as informações estejam sempre atualizadas.
      </small>
      </li>
</ul>

<p class="fs-5 texto texto-102"><small>Este projeto demonstra como a combinação de App Script e Power Query pode resultar em uma solução robusta e eficiente para a gestão de dados, facilitando a tomada de decisões e a análise de desempenho.</small></p>


<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed z-0 texto texto-103" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse7" aria-expanded="false" aria-controls="flush-collapse7">
        Link do dashboard
      </button>
    </h2>
    <div id="flush-collapse7" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <a type="button" target="_blank" href="https://app.powerbi.com/view?r=eyJrIjoiMDdlYWUwNTgtMGM1OC00NjAwLWIzMDMtNzVmZmFlOWJhNzI4IiwidCI6ImI3MGQ5OWMzLTY1ODAtNGUxNy1iYWNiLWYxYjU1ODdjZGU4NSJ9" class="btn btn-secondary texto texto-104">Link do Power BI</a>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed z-0 texto texto-105" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseT7" aria-expanded="false" aria-controls="flush-collapseT7">
        Imagem do dashboard
      </button>
    </h2>
    <div id="flush-collapseT7" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
       <Image class="img-fluid my-4 w-100" src={DashboardDeGestão} alt="Dahsboard de gestão de alê henrique" style="transition: transform 0.3s; cursor:crosshair;" onclick="var rect = this.getBoundingClientRect(); var x = event.clientX - rect.left; var y = event.clientY - rect.top; if (this.style.transform === 'scale(2)') { this.style.transform = 'scale(1)'; this.style.transformOrigin = 'center center'; } else { this.style.transform = 'scale(2)'; this.style.transformOrigin = x + 'px ' + y + 'px'; }" onwheel="var rect = this.getBoundingClientRect(); var x = event.clientX - rect.left; var y = event.clientY - rect.top; if (event.deltaY < 0) { this.style.transform = 'scale(2)'; this.style.transformOrigin = x + 'px ' + y + 'px'; } else { this.style.transform = 'scale(1)'; this.style.transformOrigin = 'center center'; }" />
      </div>
    </div>
  </div>
</div>
<a class="btn btn-secondary w-100 mt-5 texto texto-106" data-bs-toggle="collapse" href="#LerMais8" role="button" aria-expanded="false" aria-controls="collapseExample">
  Recolher
</a>
</h5>
</div>
</div>


<div class="card mb-3 "></div>
<div class="row g-0 p-5 shadow border-dark ">
  <div class="col-md-4">
    <Image class="img-fluid rounded-start" src={DashboardPY} alt="Dashbord com python de alê Henrique" />
  </div>
  <div  id="planilhadegestao" class="col-md-8">
    <div class="card-body ps-3">
      <h5 class="card-title pt-2 pb-1 texto texto-70">Dashboard com Python, Pandas e Streamlit</h5>
      <p class="card-text texto texto-71">
        Desenvolvi um dashboard de gestão avançado utilizando Python, Pandas e Streamlit, que centraliza e processa dados automaticamente, oferecendo uma visualização dinâmica e interativa ...
      </p>
      <p class="d-inline-flex gap-1">
        <a class="btn btn-secondary texto texto-72" data-bs-toggle="collapse" href="#LerMais9" role="button" aria-expanded="false" aria-controls="collapseExample">
          Ler mais
        </a>
      <p class="card-text"><small class="text-body-secondary texto texto-73">Projeto com Python, Pandas e Streamlit</small></p>
    </div>
  </div>
  </div>
</div>
</div>
<div class="collapse w-100" id="LerMais9">
<h5 class="card card-body py-2 fs-5 shadow-none border-0 text-secondary-emphasis text-wrap text-break">
    <h3 class="mt-4 texto texto-74">Dashboard de Gestão: Tradicional vs. Python</h3>
<p class="fs-5 texto texto-75"><small>Tradicionalmente, a criação de dashboards envolve processos manuais demorados, desde a importação de dados até a geração de gráficos e relatórios. Isso pode exigir habilidades específicas em várias ferramentas e um tempo considerável de configuração e manutenção. Por outro lado, um dashboard construído com Python, utilizando bibliotecas como Pandas e Streamlit, pode ser desenvolvido de forma rápida e eficiente, automatizando grande parte do trabalho e oferecendo flexibilidade e personalização inigualáveis.</small></p>

<h3 class="mt-4 texto texto-76">Características :</h3>
<ul class="list">
    <li class="mb-2 fs-5 texto texto-77">
      <small>
        <strong>Processamento de Dados com Pandas:</strong>Utilizando Pandas, os dados são processados e manipulados de forma eficiente, garantindo a limpeza e organização das informações.
      </small>
    </li>
    <li class="mb-2 fs-5 texto texto-78">
      <small>
        <strong>Visualização Interativa com Streamlit:</strong> O Streamlit permite a criação de dashboards interativos e dinâmicos, que facilitam a análise de dados em tempo real.
      </small>
    </li>
    <li class="mb-2 fs-5 texto texto-79">
      <small>
        <strong>Automatização Completa:</strong> O sistema automatiza a importação, processamento e visualização dos dados, eliminando a necessidade de intervenções manuais.
      </small>
    </li>
    <li class="mb-2 fs-5 texto texto-80">
      <small>
      <strong>Rapidez e Eficiência:</strong>A utilização de Python e suas bibliotecas permite a criação rápida de dashboards, reduzindo o tempo de desenvolvimento e aumentando a produtividade.
    </small>
    </li>
    <li class="mb-2 fs-5 texto texto-81">
        <small>
        <strong>Flexibilidade e Personalização:</strong> A solução pode ser facilmente adaptada para atender às necessidades específicas de qualquer empresa, independentemente do volume ou complexidade dos dados.
      </small>
      </li>
</ul>

<p class="fs-5 texto texto-82"><small>Este dashboard é ideal para empresas que buscam uma solução moderna e eficiente para a gestão de dados, oferecendo uma visão integrada e precisa das informações, com a flexibilidade e rapidez proporcionadas pelo uso de Python, Pandas e Streamlit.</small></p>


<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed z-0 texto texto-83" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse8" aria-expanded="false" aria-controls="flush-collapse8">
        Link do streamlit
      </button>
    </h2>
    <div id="flush-collapse8" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <a type="button" target="_blank" href="https://dashboardapp-t4jsrswlplh5mzqm9lbd7f.streamlit.app/" class="btn btn-secondary texto texto-84">Link do streamlit</a>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed z-0 texto texto-85" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseT8" aria-expanded="false" aria-controls="flush-collapseT8">
        Imagem do dashboard
      </button>
    </h2>
    <div id="flush-collapseT8" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
      <Image class="img-fluid my-4 w-100" src={DashboardPY} alt="Dashboard com python de alê henrique" style="transition: transform 0.3s; cursor:crosshair;" onclick="var rect = this.getBoundingClientRect(); var x = event.clientX - rect.left; var y = event.clientY - rect.top; if (this.style.transform === 'scale(2)') { this.style.transform = 'scale(1)'; this.style.transformOrigin = 'center center'; } else { this.style.transform = 'scale(2)'; this.style.transformOrigin = x + 'px ' + y + 'px'; }" onwheel="var rect = this.getBoundingClientRect(); var x = event.clientX - rect.left; var y = event.clientY - rect.top; if (event.deltaY < 0) { this.style.transform = 'scale(2)'; this.style.transformOrigin = x + 'px ' + y + 'px'; } else { this.style.transform = 'scale(1)'; this.style.transformOrigin = 'center center'; }" />
      </div>
    </div>
  </div>
</div>
<a class="btn btn-secondary w-100 mt-5 texto texto-86" data-bs-toggle="collapse" href="#LerMais9" role="button" aria-expanded="false" aria-controls="collapseExample">
  Recolher
</a>
</h5>
</div>
</div>
<div class="textos">
  <h3 class="mt-5 mb-3 texto texto-109">Sobre Mim</h3>
  <p class="fs-5 texto texto-110">
    <small>
      Sou um jovem de 18 anos, fascinado por tecnologia e determinado a me tornar um cientista de dados. Comecei minha jornada com desenvolvimento web, aprendendo HTML, CSS e JavaScript de forma autodidata. Agora, estou focado em análise de dados, desenvolvendo habilidades essenciais para a área. Busco oportunidades para aplicar meu conhecimento em projetos desafiadores, contribuindo para decisões mais informadas e eficientes, e continuando a evoluir profissionalmente.
    </small>
  </p>
</div>

<h3 class="mt-5 mb-3 texto texto-111">Web</h3>
<div class="card mb-3 "></div>
<div class="row g-0 p-5 shadow border-dark ">
  <div class="col-md-4">
    <Image class="img-fluid rounded-start" src={Portifólio} alt="Portifólio de alê henrique" />
  </div>
  <div  id="planilhadegestao" class="col-md-8">
    <div class="card-body ps-3">
      <h5 class="card-title pt-2 pb-1 texto texto-112">Este Portifólio !</h5>
      <p class="card-text texto texto-113">
        Desenvolvi um portfólio web sofisticado que integra JavaScript, Bootstrap e a framework Astro para criar uma experiência online dinâmica ...
      </p>
      <p class="d-inline-flex gap-1">
        <a class="btn btn-secondary  texto texto-114" data-bs-toggle="collapse" href="#LerMais10" role="button" aria-expanded="false" aria-controls="collapseExample">
          Ler mais
        </a>
      <p class="card-text  texto texto-115"><small class="text-body-secondary">Projeto com JavaScript, bootstrap e Astro</small></p>
    </div>
  </div>
  </div>
</div>
</div>
<div class="collapse w-100" id="LerMais10">
<h5 class="card card-body py-2 fs-5 shadow-none border-0 text-secondary-emphasis text-wrap text-break">
<p class="fs-5 texto texto-116"><small>Este portfólio é uma vitrine abrangente das minhas habilidades e projetos, projetado para oferecer uma navegação intuitiva e um design moderno.</small></p>

<h3 class="mt-4 texto texto-117">Características :</h3>
<ul class="list">
    <li class="mb-2 fs-5 texto texto-118">
      <small>
        <strong>Interatividade Dinâmica com JavaScript: </strong> Utilizando JavaScript, o portfólio oferece funcionalidades interativas e personalizadas, permitindo uma experiência de usuário envolvente e responsiva. Desde efeitos visuais até funcionalidades interativas, o JavaScript garante que o portfólio seja tanto atraente quanto funcional.
      </small>
    </li>
    <li class="mb-2 fs-5 texto texto-119">
      <small>
        <strong>Design Responsivo com Bootstrap:</strong>O design do portfólio é otimizado para todos os dispositivos, utilizando Bootstrap para garantir uma apresentação impecável em telas de diferentes tamanhos. A flexibilidade e a compatibilidade do Bootstrap permitem um layout que se adapta perfeitamente às necessidades de cada visitante.
      </small>
    </li>
    <li class="mb-2 fs-5 texto texto-120">
      <small>
        <strong>Desenvolvimento Eficiente com Astro:</strong> A framework Astro proporciona uma base sólida para o portfólio, permitindo uma integração eficiente de componentes e otimização do desempenho. Com Astro, o portfólio carrega rapidamente e oferece uma experiência de navegação fluida.
      </small>
    </li>
    <li class="mb-2 fs-5 texto texto-121">
      <small>
      <strong>Centralização e Organização dos Projetos:</strong> Todos os projetos e informações estão centralizados em uma interface organizada e fácil de navegar. O portfólio apresenta os trabalhos de forma clara e estruturada, facilitando a visualização e a exploração das minhas realizações.
    </small>
    </li>
    <li class="mb-2 fs-5 texto texto-122">
        <small>
        <strong>Automatização e Atualização:</strong>O portfólio é projetado para ser fácil de atualizar, com integração de ferramentas e processos que minimizam a necessidade de edições manuais. A automatização das atualizações garante que o portfólio esteja sempre atualizado com os últimos projetos e informações.
      </small>
      </li>
</ul>

<p class="fs-5 texto texto-123"><small>Este portfólio é ideal para quem deseja visualizar um exemplo do meu trabalho e das minhas competências em desenvolvimento web, oferecendo uma visão clara das minhas habilidades.</small></p>


<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button collapsed z-0 texto texto-124" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse9" aria-expanded="false" aria-controls="flush-collapse9">
          Link do Portifólio no github
        </button>
      </h2>
      <div id="flush-collapse9" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <a type="button" target="_blank" href="https://docs.google.com/spreadsheets/d/1aRsowVQmSFe2ebGrABYlhIiG-H1i2_xOXuiiXjRk52Y/edit?usp=sharing" class="btn btn-secondary texto texto-125">Link do Power BI</a>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed z-0 texto texto-126" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseT9" aria-expanded="false" aria-controls="flush-collapseT9">
          Imagem do Portifólio
        </button>
      </h2>
      <div id="flush-collapseT9" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
        <Image class="img-fluid my-4 w-100" src={Portifólio} alt="Portifólio de alê henrique" style="transition: transform 0.3s; cursor:crosshair;" onclick="var rect = this.getBoundingClientRect(); var x = event.clientX - rect.left; var y = event.clientY - rect.top; if (this.style.transform === 'scale(2)') { this.style.transform = 'scale(1)'; this.style.transformOrigin = 'center center'; } else { this.style.transform = 'scale(2)'; this.style.transformOrigin = x + 'px ' + y + 'px'; }" onwheel="var rect = this.getBoundingClientRect(); var x = event.clientX - rect.left; var y = event.clientY - rect.top; if (event.deltaY < 0) { this.style.transform = 'scale(2)'; this.style.transformOrigin = x + 'px ' + y + 'px'; } else { this.style.transform = 'scale(1)'; this.style.transformOrigin = 'center center'; }" />
        </div>
      </div>
    </div>
  </div>
  <a class="btn btn-secondary w-100 mt-5 texto texto-127" data-bs-toggle="collapse" href="#LerMais10" role="button" aria-expanded="false" aria-controls="collapseExample">
    Recolher
  </a>
  </h5>
  </div>
  </div>

  <p class="fs-5 mt-5 texto texto-128">
    <small>
      Gosto de aprender por conta própria e estou sempre em busca de novas tecnologias e métodos. Atualmente, estou focado em desenvolver minhas habilidades em análise de dados e programação. Tenho experiência com HTML, CSS, JavaScript e Php, assim dominando as bases para usar qualquer framework ou biblioteca e estou me aprofundando em técnicas de análise de dados para transformar informações em insights valiosos.
    </small>
    </p>
    <p class="fs-5 mb-5 texto texto-129">
      <small>
        Acredito que com dedicação e esforço, posso contribuir significativamente no campo, ajudando a tomar decisões mais informadas e eficientes. Estou animado para seguir esse caminho e ver onde ele me levará.
      </small>
    </p>
