---
import { Image } from 'astro:assets';
import Portifólio from "/src/Imagens/portifólio.png";
---
<div class="card mb-3 "></div>
<div class="row g-0 p-5 shadow border-dark ">
  <div class="col-md-4">
    <Image class="img-fluid rounded-start" src={Portifólio} alt="Portifólio de alê henrique" />
  </div>
  <div  id="planilhadegestao" class="col-md-8">
    <div class="card-body ps-3">
      <h5 class="card-title pt-2 pb-1 texto texto-112">Este Portifólio !</h5>
      <p class="card-text texto texto-113">
        Desenvolvi um portfólio web sofisticado que integra JavaScript, Bootstrap e a framework Astro para criar uma experiência online dinâmica ...
      </p>
      <p class="d-inline-flex gap-1">
        <a class="btn btn-secondary  texto texto-114" data-bs-toggle="collapse" href="#LerMais11" role="button" aria-expanded="false" aria-controls="collapseExample">
          Ler mais
        </a>
      <p class="card-text  texto texto-115"><small class="text-body-secondary">Projeto com JavaScript, bootstrap e Astro</small></p>
    </div>
  </div>
  </div>
</div>
</div>
<div class="collapse w-100" id="LerMais11">
<h5 class="card card-body py-2 fs-5 shadow-none border-0 text-secondary-emphasis text-wrap text-break">
<p class="fs-5 texto texto-116"><small>Este portfólio é uma vitrine abrangente das minhas habilidades e projetos, projetado para oferecer uma navegação intuitiva e um design moderno.</small></p>

<h3 class="mt-4 texto texto-117">Características :</h3>
<ul class="list">
    <li class="mb-2 fs-5 texto texto-118">
      <small>
        <strong>Interatividade Dinâmica com JavaScript: </strong> Utilizando JavaScript, o portfólio oferece funcionalidades interativas e personalizadas, permitindo uma experiência de usuário envolvente e responsiva. Desde efeitos visuais até funcionalidades interativas, o JavaScript garante que o portfólio seja tanto atraente quanto funcional.
      </small>
    </li>
    <li class="mb-2 fs-5 texto texto-119">
      <small>
        <strong>Design Responsivo com Bootstrap:</strong>O design do portfólio é otimizado para todos os dispositivos, utilizando Bootstrap para garantir uma apresentação impecável em telas de diferentes tamanhos. A flexibilidade e a compatibilidade do Bootstrap permitem um layout que se adapta perfeitamente às necessidades de cada visitante.
      </small>
    </li>
    <li class="mb-2 fs-5 texto texto-120">
      <small>
        <strong>Desenvolvimento Eficiente com Astro:</strong> A framework Astro proporciona uma base sólida para o portfólio, permitindo uma integração eficiente de componentes e otimização do desempenho. Com Astro, o portfólio carrega rapidamente e oferece uma experiência de navegação fluida.
      </small>
    </li>
    <li class="mb-2 fs-5 texto texto-121">
      <small>
      <strong>Centralização e Organização dos Projetos:</strong> Todos os projetos e informações estão centralizados em uma interface organizada e fácil de navegar. O portfólio apresenta os trabalhos de forma clara e estruturada, facilitando a visualização e a exploração das minhas realizações.
    </small>
    </li>
    <li class="mb-2 fs-5 texto texto-122">
        <small>
        <strong>Automatização e Atualização:</strong>O portfólio é projetado para ser fácil de atualizar, com integração de ferramentas e processos que minimizam a necessidade de edições manuais. A automatização das atualizações garante que o portfólio esteja sempre atualizado com os últimos projetos e informações.
      </small>
      </li>
</ul>

<p class="fs-5 texto texto-123"><small>Este portfólio é ideal para quem deseja visualizar um exemplo do meu trabalho e das minhas competências em desenvolvimento web, oferecendo uma visão clara das minhas habilidades.</small></p>


<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button collapsed z-0 texto texto-124" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse10" aria-expanded="false" aria-controls="flush-collapse10">
          Link do Portifólio no github
        </button>
      </h2>
      <div id="flush-collapse10" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <a type="button" target="_blank" href="https://docs.google.com/spreadsheets/d/1aRsowVQmSFe2ebGrABYlhIiG-H1i2_xOXuiiXjRk52Y/edit?usp=sharing" class="btn btn-secondary texto texto-125">Link do Power BI</a>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed z-0 texto texto-126" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseT10" aria-expanded="false" aria-controls="flush-collapseT10">
          Imagem do Portifólio
        </button>
      </h2>
      <div id="flush-collapseT10" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
        <Image class="img-fluid my-4 w-100" src={Portifólio} alt="Portifólio de alê henrique" style="transition: transform 0.3s; cursor:crosshair;" onclick="var rect = this.getBoundingClientRect(); var x = event.clientX - rect.left; var y = event.clientY - rect.top; if (this.style.transform === 'scale(2)') { this.style.transform = 'scale(1)'; this.style.transformOrigin = 'center center'; } else { this.style.transform = 'scale(2)'; this.style.transformOrigin = x + 'px ' + y + 'px'; }" onwheel="var rect = this.getBoundingClientRect(); var x = event.clientX - rect.left; var y = event.clientY - rect.top; if (event.deltaY < 0) { this.style.transform = 'scale(2)'; this.style.transformOrigin = x + 'px ' + y + 'px'; } else { this.style.transform = 'scale(1)'; this.style.transformOrigin = 'center center'; }" />
        </div>
      </div>
    </div>
  </div>
  <a class="btn btn-secondary w-100 mt-5 texto texto-127" data-bs-toggle="collapse" href="#LerMais11" role="button" aria-expanded="false" aria-controls="collapseExample">
    Recolher
  </a>
  </h5>
  </div>
  </div>
